* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background: #333;
  color: #CCEEFF;
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
}

.new-item-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.btn {
  background: #00AAFF03;
  border: 1px solid #00AAFF;
  color: #00AAFF;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  outline: none;
}

.btn:hover,
.btn:focus-visible {
  background: #00AAFF05;
}

.btn.btn-danger {
  background: #CC000003;
  border: 1px solid #CC0000;
  color: #CC0000;
}

.btn.btn-danger:hover,
.btn.btn-danger:focus-visible {
  background: #CC000005;
}

.new-item-form input {
  outline: none;
  border: 1px solid #0088CC;
  background: #006699;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: #CCEEFF;
  margin: 0.5em;
}
.new-item-form select {
  outline: none;
  border: 1px solid #0088CC;
  background: #006699;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  color: #CCEEFF;
  margin: 0.5em;
}
.new-item-form input:focus {
  border: 1px solid #66CCFF;
}

.header {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.section {
  margin-bottom: 0.3em;
}

.section label span {
  word-wrap: break-word;
  width: 100px;
}

.section label {
  display: flex;
  word-wrap: break-word;
  justify-content: space-between;
  gap: 0.3em;
}


.section select {
  outline: none;
  border: 1px solid #0088CC;
  background: #006699;
  border-radius: 0.25em;
  color: #CCEEFF;
}

.section-done {
  text-decoration: line-through;
}

.confirm-pop-up {
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 0;
    background: #33333380;
    max-width: 600px;
    min-height: 100vh;
}
.edit-form{
    position: relative;
    top:15em;
    padding: 0.5em;
    background: #3C4142;
    border-radius: 0.5em;
}

.btn-delete{
   background-color: #E97451;
   color: #880808;
   border: 1px solid #D2042D;
}

.btn-delete:hover{
    background-color: #CC5500
}

.list .btn-none{
    visibility: hidden;
}

.back{
    margin-top: 0.3em;
}

.placeholder-select :first-child {
    color:#a1a1a1
}

.placeholder-select option{
    color: #ffffff;
}

.form-row span{
    margin: 0.5em;
}

.form-row span{
    font-size: 0.7em;
    color: #FF3131;
}